# Execution Environment (EE) dependencies for the {{ collection_name }} collection

---

# FIXME Delete the file if you do not take care / support Ansible Execution
#       Environments with your collection.
#
#       Helpful links:
#       https://docs.ansible.com/projects/builder/en/latest/definition/
#       https://docs.ansible.com/projects/builder/en/stable/collection_metadata/
#       https://docs.ansible.com/projects/ansible/latest/galaxy/user_guide.html#installing-roles-and-collections-from-the-same-requirements-yml-file

version: 3

dependencies:
  galaxy:
    collections: {}
    roles: {}
  #python: "meta/ee-requirements.txt"  # File listing Python package requirements
  #system: "meta/ee-bindep.txt"        # File listing system package requirements