# FIXME/TODO (you should delete this file after reading/completing the tasks)

A (maybe incomplete but hopefully useful) list of things to do after creating a
new role based on the skeleton, especially before releasing anything:

1. **Check licensing information and metadata**
   * [`REUSE.toml`](./REUSE.toml) → Especially `SPDX-PackageDownloadLocation`,
     `SPDX-PackageSupplier`, and `SPDX-FileCopyrightText`
   * [`meta/main.yml`](./meta/main.yml) in general.
   * The "[`README.md`: Author Information](./README.md#author-information)" section
   * The "[`README.md`: Licensing, copyright](./README.md#licensing-copyright)" section

2. **Check requirements information**
   * In the "[`README.md`: Requirements](./README.md#requirements)" section, list
     any prerequisites that may not be covered by Ansible itself, e.g.:
     * DNS names to configure, firewall ports to open
     * [SELinux](https://en.wikipedia.org/wiki/Security-Enhanced_Linux)
       * has to be disabled.
       * is supported in "Permissive" mode only.
       * is supported in "Enforcing" as well as in "Permissive" mode.
   * In [`requirements.txt`](./requirements.txt): Additionally needed Python
     packages (if any)

3. **Check dependency information**
   * In the "[`README.md`: Dependencies](./README.md#dependencies)" section:
     * A list of other roles hosted on Galaxy should go here
     * Plus any details regarding parameters that may need to be set for other
       roles or variables that are used from other roles.
   * [`meta/main.yml`](./meta/main.yml) → `dependencies:`

4. **Check compatibility information**
   * In the "[`README.md`: Compatibility](./README.md#compatibility)" section:
     * Maybe you want to mention the main platform/first-class citizens.
     * Or if things were tested on container/VM/bare metal
   * [`vars/main.yml`](./vars/main.yml) → `__{{ role_name }}_supported_platforms:`
     * Sadly, [there is no complete list of platforms anymore](https://github.com/foundata/ansible-skeletons/issues/4).
       But the [module_utils source code](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/facts/system/distribution.py)
       might give you some hints.

5. **Search for FIXME** in all files (e.g., via `grep "FIXME" -r ./`).
