# `{{ role_name }}`

{{ description }}


## Table of contents<a id="toc"></a>

- [Requirements](#requirements)
- [Role variables](#variables)
- [Dependencies](#dependencies)
- [Examples](#examples)
- [Supported tags](#tags)
- [Compatibility](#compatibility)
- [Licensing, copyright](#licensing-copyright)
- [Author information](#author-information)



## Requirements<a id="requirements"></a>

There are no special requirements not covered by Ansible itself.



## Role variables<a id="variables"></a>

See [`defaults/main.yml`](./defaults/main.yml) for all available role parameters and their description. [`vars/main.yml`](./vars/main.yml) contains internal variables you should not override (but their description might be interesting).

Additionally, there are variables read from other roles and/or the global scope (for example, host or group vars) as follows:

- None right now.



## Dependencies<a id="dependencies"></a>

See `dependencies` in [`meta/main.yml`](./meta/main.yml).



## Example playbooks <a id="examples"></a>

None right now.



## Supported tags<a id="tags"></a>

It might be useful and faster to only call parts of the role by using tags:

- `{{ role_name }}_setup`: Manage basic resources, such as packages or service users.
- `{{ role_name }}_config`: Manage settings, such as adapting or creating configuration files.
- `{{ role_name }}_service`: Manage services and daemons, such as running states and service boot configurations.

There are also tags usually not meant to be called directly but listed for the sake of completeness** and edge cases:

- `{{ role_name }}_always`, `always`: Tasks needed by the role itself for internal role setup and the Ansible environment.



## Compatibility<a id="compatibility"></a>

See `min_ansible_version` and `platforms` in [`meta/main.yml`](./meta/main.yml).



## Licensing, copyright<a id="licensing-copyright"></a>

<!--REUSE-IgnoreStart-->
Copyright (c) YYYY {{ company }}, {{ author }}

This project is licensed under the GNU General Public License v3.0 or later (SPDX-License-Identifier: `GPL-3.0-or-later`), see [`LICENSES/GPL-3.0-or-later.txt`](LICENSES/GPL-3.0-or-later.txt) for the full text.

The [`REUSE.toml`](REUSE.toml) file provides detailed licensing and copyright information in a human- and machine-readable format. This includes parts that may be subject to different licensing or usage terms, such as third-party components. The repository conforms to the [REUSE specification](https://reuse.software/spec/). You can use [`reuse spdx`](https://reuse.readthedocs.io/en/latest/readme.html#cli) to create a [SPDX software bill of materials (SBOM)](https://en.wikipedia.org/wiki/Software_Package_Data_Exchange).
<!--REUSE-IgnoreEnd-->



## Author information<a id="author-information"></a>

This role was created by {{ author }} and is based on an [Ansible skeleton](https://github.com/foundata/ansible-skeletons) by [foundata](https://foundata.com/). If you like it, you might [buy them a coffee](https://buy-me-a.coffee/ansible-skeletons/).
