# Ansible role: `{{ role_name }}`

This repository contains the `{{ role_name }}` Ansible role.



## Table of contents<a id="toc"></a>

- [Role variables](#variables)
- [Example playbooks, using this role](#examples)
- [Supported tags](#tags)
- [Dependencies](#dependencies)
- [Compatibility](#compatibility)
- [External requirements](#requirements)
- [Licensing, copyright](#licensing-copyright)
- [Author information](#author-information)



## Role variables<a id="variables"></a>

See [`defaults/main.yml`](./defaults/main.yml) for all available role parameters and their description. [`vars/main.yml`](./vars/main.yml) contains internal variables you should not override (but their description might be interesting).

Additionally, there are variables read from other roles and/or the global scope (for example, host or group vars) as follows:

- None right now.



## Example playbooks, using this role<a id="examples"></a>

Installation with automatic upgrade:

```yaml
---

- name: "Initialize the {{ role_name }} role"
  hosts: localhost
  gather_facts: false
  tasks:

    - name: "Trigger invocation of the {{ role_name }} role"
      ansible.builtin.include_role:
        name: "{{ role_name }}"
      vars:
        {{ role_name }}_autoupgrade: true
```

Uninstall:

```yaml
---

- name: "Initialize the {{ role_name }} role"
  hosts: localhost
  gather_facts: false
  tasks:

    - name: "Trigger invocation of the {{ role_name }} role"
      ansible.builtin.include_role:
        name: "{{ role_name }}"
      vars:
        {{ role_name }}_state: "absent"
```



## Supported tags<a id="tags"></a>

It might be useful and faster to only call parts of the role by using tags:

- `{{ role_name }}_setup`: Manage basic resources, such as packages or service users.
- `{{ role_name }}_config`: Manage settings, such as adapting or creating configuration files.
- `{{ role_name }}_service`: Manage services and daemons, such as running states and service boot configurations.

There are also tags usually not meant to be called directly but listed for the sake of completeness** and edge cases:

- `{{ role_name }}_always`, `always`: Tasks needed by the role itself for internal role setup and the Ansible environment.



## Dependencies<a id="dependencies"></a>

See `dependencies` in [`meta/main.yml`](./meta/main.yml).



## Compatibility<a id="compatibility"></a>

See `min_ansible_version` in [`meta/main.yml`](./meta/main.yml) and `__{{ role_name }}_supported_platforms` in [`vars/main.yml`](./vars/main.yml).



## External requirements<a id="requirements"></a>

There are no special requirements not covered by Ansible itself.



## Licensing, copyright<a id="licensing-copyright"></a>

<!--REUSE-IgnoreStart-->
Copyright (c) {{ '%Y' | strftime }} {{ company }}

This project is licensed under the GNU General Public License v3.0 or later (SPDX-License-Identifier: `GPL-3.0-or-later`), see [`LICENSES/GPL-3.0-or-later.txt`](LICENSES/GPL-3.0-or-later.txt) for the full text.

The [`REUSE.toml`](REUSE.toml) file provides detailed licensing and copyright information in a human- and machine-readable format. This includes parts that may be subject to different licensing or usage terms, such as third-party components. The repository conforms to the [REUSE specification](https://reuse.software/spec/). You can use [`reuse spdx`](https://reuse.readthedocs.io/en/latest/readme.html#cli) to create a [SPDX software bill of materials (SBOM)](https://en.wikipedia.org/wiki/Software_Package_Data_Exchange).
<!--REUSE-IgnoreEnd-->



## Author information<a id="author-information"></a>

This project was created and is maintained by {{ company }}.

The role was initiated using an [Ansible skeleton](https://github.com/foundata/ansible-skeletons) by [foundata](https://foundata.com/).
