# Molecule cleanup playbook. Reverts or removes any state introduced during
# prepare, converge, or verify that should not persist between test runs. It
# runs after verify and before destroy. Optional, but can be useful for keeping
# scenarios idempotent across repeated executions.

---

- name: "Molecule | Cleanup"
  hosts: "molecule"
  gather_facts: false
  no_log: "{{ '{{' }} molecule_no_log | default(false) {{ '}}' }}"
  pre_tasks:

    - name: "Molecule | Cleanup | Restore __testing_state (if any) from YAML file from localhost"
      # Although this task is delegated to localhost, the play itself targets
      # "hosts: molecule", so the resulting fact is stored on the current
      # inventory host. This is why inventory_hostname is available and must be
      # used to load the correct per-host state file.
      delegate_to: "localhost"
      ansible.builtin.set_fact:
        __testing_state: >-
          {{ '{{' }}
            lookup('file', molecule_ephemeral_directory ~ '/__testing_state_' ~ (inventory_hostname | hash('md5')) ~ '.yml', errors='ignore')
            | default('{}')
            | from_yaml
            | default({})
          {{ '}}' }}
      when:
        - (__testing_state is not defined) or (__testing_state is not mapping)
      # "cleanup" and "destroy" phases must tolerate missing containers
      failed_when: false
      ignore_errors: true
      ignore_unreachable: true


  tasks:

    - name: "Molecule | Cleanup | Set <scenario>/tasks/cleanup directory path"
      ansible.builtin.set_fact:
        __testing_cleanup_taskdir: >-
          {{ '{{' }}
            (lookup('env', 'MOLECULE_SCENARIO_DIRECTORY') | regex_replace('/$', ''))
            ~ '/tasks/cleanup'
          {{ '}}' }}


    - name: "Molecule | Cleanup | Check if <scenario>/tasks/cleanup directory exists on localhost"
      delegate_to: "localhost"
      ansible.builtin.stat:
        path: "{{ '{{' }} __testing_cleanup_taskdir {{ '}}' }}"
      run_once: true # noqa: run-once[task]
      register: __testing_cleanup_taskdir_stat


    - name: "Molecule | Cleanup | Include additional tasks from <scenario>/tasks/cleanup"
      ansible.builtin.include_tasks:
        file: "{{ '{{' }} __testing_cleanup_loop_item {{ '}}' }}"
      when:
        - __testing_cleanup_loop_item is file
      loop: >-
        {{ '{{' }}
          lookup('fileglob', __testing_cleanup_taskdir ~ '/*.yml', wantlist=True) | sort
          if (__testing_cleanup_taskdir_stat['stat']['exists'] | default(false))
          else []
        {{ '}}' }}
      loop_control:
        label: "{{ '{{' }} __testing_cleanup_loop_item {{ '}}' }}"
        index_var: "__testing_cleanup_loop_index"
        loop_var: "__testing_cleanup_loop_item"


  post_tasks:

    - name: "Molecule | Cleanup | Persist __testing_state (if any) to YAML file on localhost"
      # Although this task is delegated to localhost, the play itself targets
      # "hosts: molecule", so inventory_hostname is available.
      delegate_to: "localhost"
      ansible.builtin.copy:
        content: "{{ '{{' }} __testing_state | to_nice_yaml {{ '}}' }}"
        dest: "{{ '{{' }} molecule_ephemeral_directory {{ '}}' }}/__testing_state_{{ '{{' }} (inventory_hostname | hash('md5')) {{ '}}' }}.yml"
        mode: "u=rw,g=r,o=r" # 0644
      when:
        - __testing_state is defined
        - __testing_state is mapping
