# Molecule verify playbook.
#
# Ansible's declarative approach already verifies execution success during
# converge (e.g., package installation failures). This optional playbook
# therefore has a focus on confirming system state and if expected behaviors
# are present.
#
# Typical checks:
#
# - Service running/stopped status matches intent
# - Network services listening on correct ports
# - User permissions properly limited
# - Some special configuration values set correctly

---

- name: "Molecule | Verify"
  hosts: "molecule"
  gather_facts: false
  no_log: "{{ '{{' }} molecule_no_log | ansible.builtin.default(false) {{ '}}' }}"
  pre_tasks:

    - name: "Molecule | Verify | Restore __testing_state (if any) from YAML file from localhost"
      # Although this task is delegated to localhost, the play itself targets
      # "hosts: molecule", so the resulting fact is stored on the current
      # inventory host. This is why inventory_hostname is available and must be
      # used to load the correct per-host state file.
      delegate_to: "localhost"
      ansible.builtin.set_fact:
        __testing_state: >-
          {{ '{{' }}
            lookup('file', molecule_ephemeral_directory ~ '/__testing_state_' ~ (inventory_hostname | ansible.builtin.md5) ~ '.yml', errors='ignore')
            | ansible.builtin.default('{}')
            | ansible.builtin.from_yaml
            | ansible.builtin.default({})
          {{ '}}' }}
      when:
        - (__testing_state is not ansible.builtin.defined) or (__testing_state is not ansible.builtin.mapping)


  tasks:

    - name: "Molecule | Verify | Set <scenario>/tasks/verify directory path"
      ansible.builtin.set_fact:
        __testing_verify_taskdir: >-
          {{ '{{' }}
            (lookup('env', 'MOLECULE_SCENARIO_DIRECTORY') | ansible.builtin.regex_replace('/$', ''))
            ~ '/tasks/verify'
          {{ '}}' }}


    - name: "Molecule | Verify | Check if <scenario>/tasks/verify directory exists on localhost"
      delegate_to: "localhost"
      ansible.builtin.stat:
        path: "{{ '{{' }} __testing_verify_taskdir {{ '}}' }}"
      run_once: true # noqa: run-once[task]
      register: __testing_verify_taskdir_stat


    - name: "Molecule | Verify | Include additional tasks from <scenario>/tasks/verify"
      ansible.builtin.include_tasks:
        file: "{{ '{{' }} __testing_verify_loop_item {{ '}}' }}"
      when:
        - __testing_verify_loop_item is ansible.builtin.file
      loop: >-
        {{ '{{' }}
          lookup('fileglob', __testing_verify_taskdir ~ '/*.yml', wantlist=True) | ansible.builtin.sort
          if (__testing_verify_taskdir_stat['stat']['exists'] | ansible.builtin.default(false))
          else []
        {{ '}}' }}
      loop_control:
        label: "{{ '{{' }} __testing_verify_loop_item {{ '}}' }}"
        index_var: "__testing_verify_loop_index"
        loop_var: "__testing_verify_loop_item"


  post_tasks:

    - name: "Molecule | Verify | Persist __testing_state (if any) to YAML file on localhost"
      # Although this task is delegated to localhost, the play itself targets
      # "hosts: molecule", so inventory_hostname is available.
      delegate_to: "localhost"
      ansible.builtin.copy:
        content: "{{ '{{' }} __testing_state | to_nice_yaml {{ '}}' }}"
        dest: "{{ '{{' }} molecule_ephemeral_directory {{ '}}' }}/__testing_state_{{ '{{' }} (inventory_hostname | ansible.builtin.md5) {{ '}}' }}.yml"
        mode: "u=rw,g=r,o=r" # 0644
      when:
        - __testing_state is ansible.builtin.defined
        - __testing_state is mapping
