# Execute the collection role "run" against all driver-created instances.

- name: "Molecule | Converge | Include the {{ namespace }}.{{ collection_name }}.run role"
  ansible.builtin.include_role:
    name: "{{ namespace }}.{{ collection_name }}.run"
  vars:
    run_{{ collection_name }}_state: "present"
