# Role argument validation.
#
# See defaults/main.yml for details on each variable. For more information on
# the argument_specs.yml format, refer to the official documentation:
# https://docs.ansible.com/ansible/latest/playbook_guide/playbooks_reuse_roles.html#role-argument-validation

---

argument_specs:

  # roles/{{ role_name }}/tasks/main.yml entry point
  main:
    short_description: "Main entry point for the {{ role_name }} role"
    options:

      {{ role_name }}_state:
        type: "str"
        required: false
        choices:
          - "present"
          - "absent"

      {{ role_name }}_service_state:
        type: "str"
        required: false
        choices:
          - "enabled"
          - "disabled"
          - "running"
          - "unmanaged"

      {{ role_name }}_autoupgrade:
        type: "bool"
        required: false
