# Role meta data

---

galaxy_info:
  role_name: "{{ role_name }}"
  description: "{{ description }}"
  license: "Apache-2.0" # see https://spdx.org/ids for valid IDs and syntax
  galaxy_tags: [] # be sure to remove the "[]" if you add values to this list; single alphanumeric words, 20 tags max.

  author: "{{ author }}"
  company: "{{ company }}"

  #repository_url: "{{ repository_url }}"
  #github_branch: "master"
  #documentation_url: "https://docs.example.com"
  #issue_tracker_url: "https://example.com/issue/tracker" # only if the issue tracker is NOT beside the repository
  #homepage_url: "{{ homepage_url }}"

  min_ansible_version: {{ min_ansible_version }}
  #min_ansible_container_version:
  allow_duplicates: false
  platforms: [] # be sure to remove the "[]" if you add values to this list
  #  - name: "Fedora"
  #    versions:
  #      - "all"


dependencies: [] # be sure to remove the "[]" if you add values to this list
