# Setup: Manage basic resource installation/removal, such as packages or service users.

---

- name: "Setup | Default | Remove unwanted packages (e.g., to prevent conflicts or resolve incompatibilities)"
  ansible.builtin.package:
    name: "{{ '{{ run_' + collection_name + '_packages_removal }}' }}"
    state: "absent"
  when:
    - run_{{ collection_name }}_state == 'present'
    - __run_{{ collection_name }}__packages_removal is defined
    - (__run_{{ collection_name }}__packages_removal | length) > 1


- name: "Setup | Default | Install needed packages"
  ansible.builtin.package:
    name: "{{ '{{ run_' + collection_name + '_packages_install }}' }}"
    state: "{{ '{%' }} if run_run_{{ collection_name }}_autoupgrade {{ '%}' }}latest{{ '{%' }} else {{ '%}' }}present{{ '{%' }} endif {{ '%}' }}"
  when:
    - run_{{ collection_name }}_state == 'present'
    - __run_{{ collection_name }}_packages_install is defined
    - (__run_{{ collection_name }}_packages_install | length) > 1


- name: "Setup | Default | Uninstall packages (in case of software removal)"
  ansible.builtin.package:
    name: "{{ '{{ run_' + collection_name + '_packages_uninstall }}' }}"
    state: "absent"
  when:
    - run_{{ collection_name }}_state == 'absent'
    - __run_{{ collection_name }}_packages_uninstall is defined
    - (__run_{{ collection_name }}_packages_uninstall | length) > 1
