# Molecule converge playbook. Executes collection resources against all
# driver-created instances.
#
# This stage provides primary functionality verification through Ansible's
# declarative approach, which fails on execution errors.

---

- name: "Molecule | Converge"
  hosts: "molecule"
  gather_facts: false
  no_log: "{{ '{{' }} molecule_no_log {{ '}}' }}"
  tasks:

    - name: "Molecule | Converge | Run basic verification of testing infrastructure"
      ansible.builtin.include_tasks:
        file: "../tasks/molecule/check-infra.yml"


    - name: "Molecule | Converge | Include tasks specific to this collection from ../tasks/converge"
      ansible.builtin.include_tasks:
        file: "{{ '{{' }} __testing_converge_loop_item {{ '}}' }}"
      loop_control:
        loop_var: "__testing_converge_loop_item"
      with_fileglob:
        - "../tasks/converge/*.yml"
