# Internal role variables and values that must NOT be overridden by the user.
#
# Variables defined here usually override earlier definitions due to the high
# precedence of this file. Each variable should have a concise comment above
# it, describing its purpose and how it fits into the role's functionality.

---

# List of facts required by the role to function.
#
# To identify which subset a fact belongs to during development, you can use
# the following snippet:
#
# - ansible.builtin.setup:
#     gather_subset:
#       - '!min'
#       - '<subset_name, see parameter doc for details>'
__{{ role_name }}_required_facts:
  # subset "distribution"
  - "ansible_distribution"
  - "ansible_distribution_version"


# Override defaults of dependencies used by this role (if any).

# nothing right now
