# Internal role variables specific to: RedHat (os_family or distribution)
#
# Only values specific to the platform and its functionality should be included
# here. Variables in this file override those defined in vars/main.yml.
#
# Each variable should have a concise comment above it, describing its purpose
# and how it fits into the role's functionality.

---

# none right now

# FIXME You can remove this file if there are no specific variable for this
#       platform. It was created as a quick starting point and for reference
#       purposes.

# List of package names to be installed when {{ role_name }}_state is
# set to "present".
# __{{ role_name }}_packages_install:
#   - "httpd"
