# Collection meta data for Galaxy (needed to to build a collection artifact)

---

namespace: "{{ namespace }}"
name: "{{ collection_name }}"
version: "{{ version }}"
license:
  # See https://spdx.org/licenses/ for valid IDs and syntax. The project's
  # REUSE.toml file provides detailed licensing and copyright information
  # in a human- and machine-readable format.
  - "GPL-3.0-or-later"
authors:
{% for author in authors %}
  - "{{ author }}"
{% endfor %}

readme: "README.md"
description: "{{ description }}"
repository: "{{ repository }}"
#documentation: "{{ documentation }}"
#issues: "{{ issues }}" # Use only if the issue tracker is separate from the repository.
#homepage: "{{ homepage }}"
tags:
  # FIXME Add appropriate tags. Production releases need at least one of these tags:
  # ["application", "cloud", "database", "eda", "infrastructure", "linux", "monitoring", "networking", "security", "storage", "tools", "windows"]
  - "application"

# Collections that this collection requires to be installed.
# Note: "*" selects the latest version available (not: "any")
#dependencies:
  # FIXME uncomment the following for usually needed collections (remove if not needed);
  #"ansible.utils": ">=5.1.0"
  #"ansible.posix": ">=2.0.0"

# List of file glob-like patterns to filter files or directories that should
# not be included in the build artifact. Some are always filtered by
# _build_files_manifest_walk(), e.g. galaxy.yml, *.pyc, *.retry, and .git
build_ignore:
  - ".ansible"
  - ".gitignore"
  - ".vscode"
  - "*.tar.gz"
  - "changelogs/.plugin-cache.yaml"
  - "changelogs/fragments/archive"
  - "changelogs/fragments/00-fragment-template.txt"
  - "extensions/molecule"
