## Additional Python packages needed to use {{ namespace }}.{{ collection_name }}
# You can use "pip install -r requirements.txt" to install the requirements.
# See the official documentation for more information about the file format:
# https://pip.pypa.io/en/stable/reference/requirements-file-format/

# FIXME Add packages or delete the file if no additional packages are needed
#jmespath
