# Cleanup tasks (to be executed when the role finished its work)

---

- name: "Clean-up: temporary working directory"
  ansible.builtin.file:
    path: "{{ '{{' }} {{ role_name }}_tempdir.path {{ '}}' }}"
    state: "absent"
