# Main entry point for the role.

---

- name: "main | Include role initialization tasks"
  ansible.builtin.include_tasks:
    file: "init.yml"
    apply:
      tags:
        - "always"
        - "{{ role_name }}_always"
  tags:
    - "always"
    - "{{ role_name }}_always"


- name: "main | Include setup tasks"
  ansible.builtin.include_tasks:
    file: "setup.yml"
    apply:
      tags:
        - "{{ role_name }}_setup"
  tags:
    - "{{ role_name }}_setup"


- name: "main | Include configuration tasks"
  ansible.builtin.include_tasks:
    file: "config.yml"
    apply:
      tags:
        - "{{ role_name }}_config"
  tags:
    - "{{ role_name }}_config"


- name: "main | Include service or daemon management tasks"
  ansible.builtin.include_tasks:
    file: "service.yml"
    apply:
      tags:
        - "{{ role_name }}_service"
  tags:
    - "{{ role_name }}_service"
