# List of tasks executed by the role

---

- name: "Include role initialization tasks"
  ansible.builtin.include_tasks: "init.yml"
  tags: "always"


- name: "Include setup tasks"
  ansible.builtin.include_tasks: "setup.yml"
  tags: "setup"


- name: "Include configuration tasks"
  ansible.builtin.include_tasks: "config.yml"
  tags: "config"


- name: "Include service or daemon management tasks"
  ansible.builtin.include_tasks: "service.yml"
  tags: "service"


- name: "Include cleanup tasks"
  ansible.builtin.include_tasks: "cleanup.yml"
  tags: "always"
