# Setup tasks (e.g. package installation, create users, ...)

---

# - name: "Install the latest version of Apache and MariaDB"
#   ansible.builtin.package:
#     state: "{{ '{{ ' + role_name + '_package_state }}' }}"
#     name:
#       - "httpd"
#       - "mariadb-server"
