# Setup: Manage basic resource installation/removal, such as packages or service users.

---

# - name: "setup | Install Apache and MariaDB"
#   ansible.builtin.package:
#     state: "{{ '{{ ' + role_name + '_package_state }}' }}"
#     name:
#       - "httpd"
#       - "mariadb-server"
