# Configuration for the Ansible Molecule "default" scenario.
#
# See the official documentation for details on this file and all settings:
# https://docs.ansible.com/projects/molecule/configuration/
#
# This scenario uses Podman to create and manage a container based testing
# environment. Ensure Podman is installed on your system to use it:
# https://podman.io/docs/installation.

---

driver:
  name: "default"
  options:
    managed: false
    login_cmd_template: "podman exec -it {instance} bash"
    ansible_connection_options:
      ansible_connection: "podman"


# Target platforms for testing
platforms:
  # Using foundata Integration Test Target (ITT) images which aim to replicate a
  # "VM-like" testing environment and provide a fully functional systemd.

  # Debian 13 (Trixie)
  - name: "molecule-debian13"
    image: "quay.io/foundata/debian13-itt:latest"
    systemd: true
  # Debian 12 (Bookworm)
  - name: "molecule-debian12"
    image: "quay.io/foundata/debian12-itt:latest"
    systemd: true

  # Ubuntu 24.04 LTS (Noble Numbat)
  - name: "molecule-ubuntu2404"
    image: "quay.io/foundata/ubuntu2404-itt:latest"
    systemd: true
  # Ubuntu 22.04 LTS (Jammy Jellyfish)
  - name: "molecule-ubuntu2204"
    image: "quay.io/foundata/ubuntu2204-itt:latest"
    systemd: true

  # AlmaLinux 10 (best effort RHEL 10 (Red Hat Enterprise Linux))
  - name: "molecule-almalinux10"
    image: "quay.io/foundata/almalinux10-itt:latest"
    systemd: true
  # AlmaLinux 9 (best effort RHEL 9 (Red Hat Enterprise Linux))
  - name: "molecule-almalinux9"
    image: "quay.io/foundata/almalinux9-itt:latest"
    systemd: true

  # CentOS Stream 10
  - name: "molecule-centosstream10"
    image: "quay.io/foundata/centosstream10-itt:latest"
    systemd: true
  # CentOS Stream 9
  - name: "molecule-centosstream9"
    image: "quay.io/foundata/centosstream9-itt:latest"
    systemd: true

  # Fedora 43
  - name: "molecule-fedora43"
    image: "quay.io/foundata/fedora43-itt:latest"
    systemd: true
  # Fedora 42
  - name: "molecule-fedora42"
    image: "quay.io/foundata/fedora42-itt:latest"
    systemd: true

  # openSUSE Leap 16.0
  - name: "molecule-opensuseleap160"
    image: "quay.io/foundata/opensuseleap160-itt:latest"
    systemd: true
  # openSUSE Leap 15.6
  # Currently not supported by us and therefore not tested.


# Ansible dependencies (collections, roles) of this Molecule scenario
dependency:
  name: "galaxy"
  enabled: true
  options:
    requirements-file: "${MOLECULE_SCENARIO_DIRECTORY}/requirements.yml"
    ignore-certs: false
    ignore-errors: false


# Configuration parameters for Ansible to provision test infrastructure and
# enable Molecule to execute test scenarios against the provisioned environment.
# See the following for more information:
# https://docs.ansible.com/projects/molecule/configuration/#provisioner
# https://docs.ansible.com/projects/molecule/configuration/#molecule.interpolation.Interpolator.interpolate
provisioner:
  name: "ansible"
  inventory:
    links:
      hosts: "inventory/hosts.yml"
  config_options:
    defaults:
      # If roles are not found by Molecule, try to run molecule with an adjusted
      # MOLECULE_GLOB environment variable instead of setting roles_path and/or
      # collections_path. See molecule/README.md#faq-role-path-detection for details.
      verbosity: ${ANSIBLE_VERBOSITY:-0} # noqa
      display_args_to_stdout: ${ANSIBLE_DISPLAY_ARGS_TO_STDOUT:-false} # noqa
      # set forks >= number of test platforms for better performance
      forks: ${ANSIBLE_FORKS:-12} # noqa
      host_key_checking: false
      retry_files_enabled: false
    connection:
      pipelining: true
  playbooks:
    create: "../shared/playbooks/create-podman.yml"
    prepare: "../shared/playbooks/prepare.yml"
    converge: "../shared/playbooks/converge.yml"
    side_effect: "../shared/playbooks/side_effect.yml"
    verify: "../shared/playbooks/verify.yml"
    cleanup: "../shared/playbooks/cleanup.yml"
    destroy: "../shared/playbooks/destroy-podman.yml"


verifier:
  name: "ansible"
  enabled: true
