# Setup: Manage basic resource installation, such as packages or service users.

---

- name: "Setup | Install | Default | Remove unwanted packages (e.g., to prevent conflicts or resolve incompatibilities)"
  ansible.builtin.package:
    name: "{{ '{{ run_' + collection_name + '_packages_removal }}' }}"
    state: "absent"
  when:
    - __run_{{ collection_name }}__packages_removal is defined
    - (__run_{{ collection_name }}__packages_removal | length) > 1


- name: "Setup | Install | Default | Install or upgrade packages"
  ansible.builtin.package:
    name: "{{ '{{ run_' + collection_name + '_packages_install }}' }}"
    state: "{{ '{%' }} if run_run_{{ collection_name }}_autoupgrade {{ '%}' }}latest{{ '{%' }} else {{ '%}' }}present{{ '{%' }} endif {{ '%}' }}"
  when:
    - __run_{{ collection_name }}_packages_install is defined
    - (__run_{{ collection_name }}_packages_install | length) > 1
