# Install: Manage basic resource setup, such as packages or service users.

---

- name: "Setup | Install | Default | Remove unwanted packages (e.g., to prevent conflicts or resolve incompatibilities)"
  ansible.builtin.package:
    name: "{{ '{{ __' + role_name + '_packages_removal }}' }}"
    state: "absent"
  when:
    - __{{ role_name }}_packages_removal is defined
    - (__{{ role_name }}_packages_removal | ansible.builtin.length) > 0


- name: "Setup | Install | Default | Install or upgrade packages"
  ansible.builtin.package:
    name: "{{ '{{ __' + role_name + '_packages_install }}' }}"
    state: "{{ '{{' }} 'latest' if run_{{ role_name }}_autoupgrade else 'present' {{ '}}' }}"
  when:
    - __{{ role_name }}_packages_install is defined
    - (__{{ role_name }}_packages_install | ansible.builtin.length) > 0


- name: "Setup | Install | Default | Remove unwanted files and directories (e.g., to prevent conflicts or resolve incompatibilities)"
  ansible.builtin.file:
    path: "{{ '{{' }} item {{ '}}' }}"
    state: "absent"
  when:
    - __{{ role_name }}_paths_removal is defined
    - (__{{ role_name }}_paths_removal | ansible.builtin.length) > 0
  loop: "{{ '{{ __' + role_name + '_paths_removal }}' }}"
