# Execute the role against all driver-created instances (cleanup / absent)

- name: "Molecule | Cleanup | Include the {{ role_name }} role"
  ansible.builtin.include_role:
    name: "{{ role_name }}"
  vars:
    {{ role_name }}_state: "absent"
