# Setup: Manage basic resource removal, such as packages or service users.

---

- name: "Setup | Uninstall | Remove packages"
  ansible.builtin.package:
    name: "{{ '{{ __run_' + collection_name + '_packages_uninstall }}' }}"
    state: "absent"
  when:
    - __run_{{ collection_name }}_packages_uninstall is defined
    - (__run_{{ collection_name }}_packages_uninstall | length) > 0
