# Uninstall: Manage basic resource removal, such as packages or service users.

---

- name: "Setup | Uninstall | Remove packages"
  ansible.builtin.package:
    name: "{{ '{{ __' + role_name + '_packages_uninstall }}' }}"
    state: "absent"
  when:
    - __{{ role_name }}_packages_uninstall is ansible.builtin.defined
    - (__{{ role_name }}_packages_uninstall | ansible.builtin.length) > 0
