# Molecule destroy playbook. Destroys the testing infrastructure and removes
# data from instance-config.create

---

- name: "Molecule | Destroy"
  hosts: "molecule"
  gather_facts: false
  no_log: "{{ '{{' }} molecule_no_log | default(false) {{ '}}' }}"
  pre_tasks:

    - name: "Molecule | Destroy | Restore __testing_state (if any) from YAML file from localhost"
      # Although this task is delegated to localhost, the play itself targets
      # "hosts: molecule", so the resulting fact is stored on the current
      # inventory host. This is why inventory_hostname is available and must be
      # used to load the correct per-host state file.
      delegate_to: "localhost"
      ansible.builtin.set_fact:
        __testing_state: >-
          {{ '{{' }}
            lookup('file', molecule_ephemeral_directory ~ '/__testing_state_' ~ (inventory_hostname | hash('md5')) ~ '.yml', errors='ignore')
            | default('{}')
            | ansible.builtin.from_yaml
            | default({})
          {{ '}}' }}
      when:
        - (__testing_state is not defined) or (__testing_state is not mapping)
      # "cleanup" and "destroy" phases must tolerate missing containers
      failed_when: false
      ignore_errors: true
      ignore_unreachable: true


  tasks:

    - name: "Molecule | Destroy | Set <scenario>/tasks/destroy directory path"
      ansible.builtin.set_fact:
        __testing_destroy_taskdir: >-
          {{ '{{' }}
            (lookup('env', 'MOLECULE_SCENARIO_DIRECTORY') | regex_replace('/$', ''))
            ~ '/tasks/destroy'
          {{ '}}' }}


    - name: "Molecule | Destroy | Check if <scenario>/tasks/destroy directory exists on localhost"
      delegate_to: "localhost"
      ansible.builtin.stat:
        path: "{{ '{{' }} __testing_destroy_taskdir {{ '}}' }}"
      run_once: true # noqa: run-once[task]
      register: __testing_destroy_taskdir_stat


    - name: "Molecule | Destroy | Include additional tasks from <scenario>/tasks/destroy"
      ansible.builtin.include_tasks:
        file: "{{ '{{' }} __testing_destroy_loop_item {{ '}}' }}"
      when:
        - __testing_destroy_loop_item is file
      loop: >-
        {{ '{{' }}
          lookup('fileglob', __testing_destroy_taskdir ~ '/*.yml', wantlist=True) | ansible.builtin.sort
          if (__testing_destroy_taskdir_stat['stat']['exists'] | default(false))
          else []
        {{ '}}' }}
      loop_control:
        label: "{{ '{{' }} __testing_destroy_loop_item {{ '}}' }}"
        index_var: "__testing_destroy_loop_index"
        loop_var: "__testing_destroy_loop_item"


    - name: "Molecule | Destroy (Podman) | Delete __testing_state YAML file (best effort) on localhost"
      delegate_to: "localhost"
      ansible.builtin.file:
        path: "{{ '{{' }} molecule_ephemeral_directory {{ '}}' }}/__testing_state_{{ '{{' }} (inventory_hostname | hash('md5')) {{ '}}' }}.yml"
        state: "absent"
      # "cleanup" and "destroy" phases must tolerate missing containers
      failed_when: false
      ignore_errors: true
      ignore_unreachable: true
