# Handlers (usually triggered by "notify")

---

# none right now


#- name: "restart_example"
#  service:
#    name: "example"
#    state: "restarted"
#
#- name: "reload_example"
#  systemd:
#    name: "example"
#    enabled: true
#    daemon_reload: true
#
# Usage Example:
#
# - name: "Reconfigure example service"
#   [...]
#   notify: "restart_example"
