# Main entry point for the role.

---

- name: "Main | Include role initialization tasks"
  ansible.builtin.include_tasks:
    file: "{{ '{{' }} role_path {{ '}}' }}/tasks/init.yml"
    apply:
      tags:
        - "always"
        - "run_{{ collection_name }}_always"
  tags:
    - "always"
    - "run_{{ collection_name }}_always"


- name: "Main | Include setup tasks (install): best platform matches (if any), then default"
  ansible.builtin.include_tasks:
    file: "{{ '{{' }} __run_{{ collection_name }}_task_file {{ '}}' }}"
    apply:
      tags:
        - "run_{{ collection_name }}_setup"
  vars:
    __run_{{ collection_name }}_task_file: "{{ '{{' }} role_path {{ '}}' }}/tasks/setup/install/{{ '{{' }} __run_{{ collection_name }}_loop_item {{ '}}' }}"
  when:
    - run_{{ collection_name }}_state == 'present'
    - __run_{{ collection_name }}_task_file is ansible.builtin.file
  loop: "{{ '{{' }} __run_{{ collection_name }}_platform_filenames_most_specific_first + ['default.yml'] {{ '}}' }}"
  loop_control:
    loop_var: "__run_{{ collection_name }}_loop_item"
  tags:
    - "run_{{ collection_name }}_setup"


- name: "Main | Include configuration tasks: best platform matches (if any), then default"
  ansible.builtin.include_tasks:
    file: "{{ '{{' }} __run_{{ collection_name }}_task_file {{ '}}' }}"
    apply:
      tags:
        - "run_{{ collection_name }}_config"
  vars:
    __run_{{ collection_name }}_task_file: "{{ '{{' }} role_path {{ '}}' }}/tasks/config/{{ '{{' }} __run_{{ collection_name }}_loop_item {{ '}}' }}"
  when:
    - run_{{ collection_name }}_state == 'present'
    - __run_{{ collection_name }}_task_file is ansible.builtin.file
  loop: "{{ '{{' }} __run_{{ collection_name }}_platform_filenames_most_specific_first + ['default.yml'] {{ '}}' }}"
  loop_control:
    loop_var: "__run_{{ collection_name }}_loop_item"
  tags:
    - "run_{{ collection_name }}_config"


- name: "Main | Include service or daemon management tasks: best platform matches (if any), then default"
  ansible.builtin.include_tasks:
    file: "{{ '{{' }} __run_{{ collection_name }}_task_file {{ '}}' }}"
    apply:
      tags:
        - "run_{{ collection_name }}_service"
  vars:
    __run_{{ collection_name }}_task_file: "{{ '{{' }} role_path {{ '}}' }}/tasks/service/{{ '{{' }} __run_{{ collection_name }}_loop_item {{ '}}' }}"
  when:
    - run_{{ collection_name }}_state == 'present'
    - __run_{{ collection_name }}_task_file is ansible.builtin.file
  loop: "{{ '{{' }} __run_{{ collection_name }}_platform_filenames_most_specific_first + ['default.yml'] {{ '}}' }}"
  loop_control:
    loop_var: "__run_{{ collection_name }}_loop_item"
  tags:
    - "run_{{ collection_name }}_service"


- name: "Main | Include setup tasks (uninstall): best platform matches (if any), then default"
  ansible.builtin.include_tasks:
    file: "{{ '{{' }} __run_{{ collection_name }}_task_file {{ '}}' }}"
    apply:
      tags:
        - "run_{{ collection_name }}_setup"
  vars:
    __run_{{ collection_name }}_task_file: "{{ '{{' }} role_path {{ '}}' }}/tasks/setup/uninstall/{{ '{{' }} __run_{{ collection_name }}_loop_item {{ '}}' }}"
  when:
    - run_{{ collection_name }}_state == 'absent'
    - __run_{{ collection_name }}_task_file is ansible.builtin.file
  loop: "{{ '{{' }} __run_{{ collection_name }}_platform_filenames_most_specific_first + ['default.yml'] {{ '}}' }}"
  loop_control:
    loop_var: "__run_{{ collection_name }}_loop_item"
  tags:
    - "run_{{ collection_name }}_setup"
