# Main entry point for the role.

---

- name: "Main | Include role initialization tasks"
  ansible.builtin.include_tasks:
    file: "{{ '{{' }} role_path {{ '}}' }}/tasks/init.yml"
    apply:
      tags:
        - "always"
        - "run_{{ collection_name }}_always"
  tags:
    - "always"
    - "run_{{ collection_name }}_always"


# Separate includes for platform-specific files and default.yml on purpose. When
# looping over "platform files + ['default.yml']" for multiple platforms in one
# play, Ansible batches them across all hosts. Insertion order depends on when
# results arrive (non-deterministic behavior) and default.yml may run before the
# platform-specific files. Separate tasks enforce the required barrier.

- name: "Main | Include setup tasks (install): best platform matches (if any)"
  ansible.builtin.include_tasks:
    file: "{{ '{{' }} __run_{{ collection_name }}_task_file {{ '}}' }}"
    apply:
      tags:
        - "run_{{ collection_name }}_setup"
  vars:
    __run_{{ collection_name }}_task_file: "{{ '{{' }} role_path {{ '}}' }}/tasks/setup/install/{{ '{{' }} __run_{{ collection_name }}_loop_item {{ '}}' }}"
  when:
    - run_{{ collection_name }}_state == 'present'
    - __run_{{ collection_name }}_task_file is ansible.builtin.file
  loop: "{{ '{{' }} __run_{{ collection_name }}_platform_filenames_most_specific_first {{ '}}' }}"
  loop_control:
    loop_var: "__run_{{ collection_name }}_loop_item"
  tags:
    - "run_{{ collection_name }}_setup"


- name: "Main | Include setup tasks (install): default"
  ansible.builtin.include_tasks:
    file: "{{ '{{' }} __run_{{ collection_name }}_task_file {{ '}}' }}"
    apply:
      tags:
        - "run_{{ collection_name }}_setup"
  vars:
    __run_{{ collection_name }}_task_file: "{{ '{{' }} role_path {{ '}}' }}/tasks/setup/install/default.yml"
  when:
    - run_{{ collection_name }}_state == 'present'
    - __run_{{ collection_name }}_task_file is ansible.builtin.file
  tags:
    - "run_{{ collection_name }}_setup"


- name: "Main | Include configuration tasks: best platform matches (if any)"
  ansible.builtin.include_tasks:
    file: "{{ '{{' }} __run_{{ collection_name }}_task_file {{ '}}' }}"
    apply:
      tags:
        - "run_{{ collection_name }}_config"
  vars:
    __run_{{ collection_name }}_task_file: "{{ '{{' }} role_path {{ '}}' }}/tasks/config/{{ '{{' }} __run_{{ collection_name }}_loop_item {{ '}}' }}"
  when:
    - run_{{ collection_name }}_state == 'present'
    - __run_{{ collection_name }}_task_file is ansible.builtin.file
  loop: "{{ '{{' }} __run_{{ collection_name }}_platform_filenames_most_specific_first {{ '}}' }}"
  loop_control:
    loop_var: "__run_{{ collection_name }}_loop_item"
  tags:
    - "run_{{ collection_name }}_config"


- name: "Main | Include configuration tasks: default"
  ansible.builtin.include_tasks:
    file: "{{ '{{' }} __run_{{ collection_name }}_task_file {{ '}}' }}"
    apply:
      tags:
        - "run_{{ collection_name }}_config"
  vars:
    __run_{{ collection_name }}_task_file: "{{ '{{' }} role_path {{ '}}' }}/tasks/config/default.yml"
  when:
    - run_{{ collection_name }}_state == 'present'
    - __run_{{ collection_name }}_task_file is ansible.builtin.file
  tags:
    - "run_{{ collection_name }}_config"


- name: "Main | Include service or daemon management tasks: best platform matches (if any)"
  ansible.builtin.include_tasks:
    file: "{{ '{{' }} __run_{{ collection_name }}_task_file {{ '}}' }}"
    apply:
      tags:
        - "run_{{ collection_name }}_service"
  vars:
    __run_{{ collection_name }}_task_file: "{{ '{{' }} role_path {{ '}}' }}/tasks/service/{{ '{{' }} __run_{{ collection_name }}_loop_item {{ '}}' }}"
  when:
    - run_{{ collection_name }}_state == 'present'
    - __run_{{ collection_name }}_task_file is ansible.builtin.file
  loop: "{{ '{{' }} __run_{{ collection_name }}_platform_filenames_most_specific_first {{ '}}' }}"
  loop_control:
    loop_var: "__run_{{ collection_name }}_loop_item"
  tags:
    - "run_{{ collection_name }}_service"


- name: "Main | Include service or daemon management tasks: default"
  ansible.builtin.include_tasks:
    file: "{{ '{{' }} __run_{{ collection_name }}_task_file {{ '}}' }}"
    apply:
      tags:
        - "run_{{ collection_name }}_service"
  vars:
    __run_{{ collection_name }}_task_file: "{{ '{{' }} role_path {{ '}}' }}/tasks/service/default.yml"
  when:
    - run_{{ collection_name }}_state == 'present'
    - __run_{{ collection_name }}_task_file is ansible.builtin.file
  tags:
    - "run_{{ collection_name }}_service"


- name: "Main | Include setup tasks (uninstall): best platform matches (if any)"
  ansible.builtin.include_tasks:
    file: "{{ '{{' }} __run_{{ collection_name }}_task_file {{ '}}' }}"
    apply:
      tags:
        - "run_{{ collection_name }}_setup"
  vars:
    __run_{{ collection_name }}_task_file: "{{ '{{' }} role_path {{ '}}' }}/tasks/setup/uninstall/{{ '{{' }} __run_{{ collection_name }}_loop_item {{ '}}' }}"
  when:
    - run_{{ collection_name }}_state == 'absent'
    - __run_{{ collection_name }}_task_file is ansible.builtin.file
  loop: "{{ '{{' }} __run_{{ collection_name }}_platform_filenames_most_specific_first {{ '}}' }}"
  loop_control:
    loop_var: "__run_{{ collection_name }}_loop_item"
  tags:
    - "run_{{ collection_name }}_setup"

- name: "Main | Include setup tasks (uninstall): default"
  ansible.builtin.include_tasks:
    file: "{{ '{{' }} __run_{{ collection_name }}_task_file {{ '}}' }}"
    apply:
      tags:
        - "run_{{ collection_name }}_setup"
  vars:
    __run_{{ collection_name }}_task_file: "{{ '{{' }} role_path {{ '}}' }}/tasks/setup/uninstall/default.yml"
  when:
    - run_{{ collection_name }}_state == 'absent'
    - __run_{{ collection_name }}_task_file is ansible.builtin.file
  tags:
    - "run_{{ collection_name }}_setup"
